[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cloudinary-storage = "*"
cloudinary = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2 = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
djangorestframework-camel-case = "*"
markdown = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
